@font-face {
    font-family: 'Firenze';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Firenze/Firenze.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Firenze/Firenze.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Firenze/Firenze.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Firenze/Firenze.ttf') format('truetype');
}
